{% load static%}
<style>
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
</style>
<html>
    <link rel="stylesheet" href="{% static 'css/smpler.css' %}">

<nav>
    <a class="smpler" href="/">smpler</a> 
    <div class="user-info">
        {% if user.is_authenticated %} Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>

        {% endif %}
        </div>
</nav>
<body>
    <div>

      {% block content %} {% endblock %}  
    </div>  
</body>
</html>