{% extends 'smpler/base.html'%}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/sample_list.css' %}">
<div class="box-container">
<ul class="box">
    {% for sample in samples %}
    <li class="list-item">
        <div class="list-box">
            <button href="{% url 'edit_sample' pk=sample.pk %}">EDIT</button>
            <button href="{% url 'delete_sample' pk=sample.pk %}">DELETE</button>
            <p class="sample-name">{{sample.title}}<p>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

<a href="{% url 'upload_sample' %}"> Add A New Sample</a>
{% endblock %}