{% extends 'smpler/base.html'%}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/sample_list.css' %}">
<div class="box-container">
<ul class="box">
    {% for sample in samples %}
    <li class="list-item">
        <div class="list-box">
            <a class="a1" href="{% url 'edit_sample' pk=sample.pk %}">EDIT</a>
            <a class="a1" href="{% url 'delete_sample' pk=sample.pk %}">DELETE</a>
            <br/>
            <a class="a1" href="{{sample.url}}">{{sample.title}}</a>

        </div>
    </li>
    {% endfor %}
</ul>
</div>

<a class="a2" href="{% url 'upload_sample' %}"> Add A New Sample</a>
{% endblock %}                                        qqqqaaaaaaaaaaaaaa